<div class="actions-panel">
    <center><h3>Actions:</h3></center>
    <div class="list-actions">
        <h2>Create a new todo list</h2>
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            {{ form.as_ul }}
            <button type="submit" class="btn btn-primary">Create List</button>
        </form>
    </div>
    <br/><br/>

    <div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="delete_list" class="delete-button">Delete List</button>
        </form>
    </div>
    <br/><br/>

    {% if selected_todo_list is not None %}
    <div>
        <form method="post" action="{% url 'view_todo_list' todo_list_id=selected_todo_list.id %}">
            {% csrf_token %}
            {{ item_form.as_p }}
            <button type="submit" name="add_item" class="btn btn-primary">Add Item</button>
        </form>
    </div>
    {% endif %}
    <!-- Placeholder for other actions (add, change, delete) -->
</div>