{% extends 'base.html' %}

{% block title %}Todo{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<style>
    .profile-panel {
        background-color: #ddd;
        border: 2px solid #000;
        border-radius: 25px;
        left: 0;
        bottom: 20px;
        top: 40px;
        width: 98.75%;
        height: 87vh;
        padding: 10px;
    }

    .list-panel {
        float: left;
        border: 2px solid #000;
        border-radius: 25px;
        padding: 10px;
        background-color: #fff;
        height: 97%;
        width: 8%;
        margin-right: 10px;
    }

    .greeting {
        position: absolute;
        top: 35px;
    }

    .todo-panel {
        float: right;
        top: 0;
        width: 45%;
        height: 97%;
        background-color: #fff;
        border: 2px solid #000;
        padding: 10px;
        border-radius: 25px;
    }

    .actions-panel {
        float: left;
        background-color: #fff;
        border: 2px solid #000;
        padding: 10px;
        border-radius: 25px;
        width: 41%;
        margin-left: 10px;
        margin-right: 10px;
        height: 97%;
    }

    .list-button {
        margin: 10px 0;
        background-color: #007BFF;
        color: #fff;
        border: 2px solid #000;
        border-radius: 25px;
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .list-button:hover {
        background-color: #0056b3;
    }
</style>


<div class="profile-panel">
    {% include 'list_panel.html' %}  <!-- Include the List Panel template -->
    {% include 'actions_panel.html' %}  <!-- Include the Actions Panel template -->
    
    <div class="todo-panel">
        {% if selected_todo_list %}
            <a href="{% url 'home' %}" class="back-to-home-button">Back to Home</a>
        {% endif %}
        <center><h3>List of Items:</h3></center>
        {% if selected_todo_list %}
            <h2>{{ selected_todo_list.name }}</h2>
            <ul>
                {% for item in todo_items %}
                    <li>{{ item.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}