{% extends 'base.html' %}

{% block title %}Todo{% endblock %}

{% block header %}{% endblock %}



{% block content %}
<style>
    .profile-panel {
        background-color: #ddd;
        border: 2px solid #000;
        left: 0;
        top: 40px;
        
        width: 48%;
        height: 87vh;
        padding: 10px;
    }
    .top-profile-panel {
        
    }
</style>

<div>
    
    <div class='profile-panel'>
        <div>
            {% if user.is_authenticated %}
            <center><h3>Welcome, {{ user.username }}!</h3></center>
            {% else %}
            <center><h3>Welcome, Guest!</h3></center>
            {% endif %}
        </div>
       
    </div>

</div>
{% endblock %}